html {
	--el-bg-dark-color: #cfcfff;
	--el-empty-bg: #fafafa;
	--menu-hover-bg: #f0f0f0;
	--menu-active-bg: #dee7ef;
	--track-toolbar-bg: #f4f4f5;
	--layer-bg: #F5F5F3;
	--layer-bg-dark: #e1e1e0;
	--layer-graggle-bg: #e6e6fe;
	--layer-unit-bg: #86edff33;
	--layer-unit-boder-color: #11111188;
	--layer-unit-handle-bg: #96969680;
	--scrollbar-background-color: #e3e3fa;
	--scrollbar-foreground-color: #c4cad8;
	--seeker-color: #868686;
	--resource-card-bg: #dedeff;
}

html.dark {
	/* 自定义深色背景颜色 */
	--el-bg-color: #232329;
	--el-bg-dark-color: #111115;
	--el-border-color: #030303;
	--el-text-color-primary: #c6c6ca;
	--el-empty-bg: #2e2e35;
	--menu-hover-bg: #2E2E35;
	--menu-active-bg: #060608;
	--track-toolbar-bg: #29292D;
	--layer-bg: #28282E;
	--layer-bg-dark: #141414;
	--layer-graggle-bg: #303035;
	--layer-unit-bg: #2A4A50;
	--layer-unit-boder-color: #eeeeee88;
	--layer-unit-handle-bg: #fafafa80;
	--scrollbar-background-color: #2d2d32;
	--scrollbar-foreground-color: #404247;
	--seeker-color: #fafafa;
	--resource-card-bg: #2E2E35;
}

html.dark .el-input {
	--el-input-bg-color: #1B1B1D;
}

html.dark .plyr--audio .plyr__controls {
	background-color: var(--layer-bg-dark);
}

::-webkit-scrollbar {
	width: 6px;
}

.dark ::-webkit-scrollbar-thumb {
	background-color: #fff3;
}

::-webkit-scrollbar-thumb {
	background-color: #0003;
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}